<div class="careers" data-cy="careersContainer">
    <div class="careers__box">
        <h4>We are interested in</h4>
        <h5> Freelance Editorial</h5>
        <p>
            Freelance Personal Finance Writer, Sapling & Pocketsense (United States)
        </p>
        <p>
            Freelance DIY Writer, eHow (United States)
        </p>
        <h5>
            The Other Art Fair
        </h5>
        <p>
            Temporary Marketing Manager - The Other Art Fair (London)
        </p>
    </div>
</div>