
.careers {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #F9F9F9;

    &__box {
        background-color: white;
        padding: 1rem;
        gap: 1rem;

        h4,
        h5 {
            text-align: center;
        }
    }
}