<div class="about-us" data-cy="aboutUsContainer">
    <div class="about-us__box">
        <h2 class="about-us__header">What Is our Art Shop</h2>
        <h4 class="about-us__subheader">THE BEST PLACE TO BUY ART YOU LOVE</h4>
        <p>
            Discover an unparalleled selection of art by artists from around the world to suit all budgets, styles, and
            spaces.
        </p>
        <h4 class="about-us__subheader">
            ACCESS TO KNOWLEDGEABLE CURATORS
        </h4>
        <p>See new curator-approved artworks in special collections released weekly, or work with an art advisor to get
            personalized recommendations.</p>
        <h4 class="about-us__subheader">
            SUPPORT EMERGING ARTISTS
        </h4>
        <p>
            We value the talented artists we represent and pay them more on every sale than other galleries.
        </p>
        <h4 class="about-us__subheader">
            PEACE OF MIND
        </h4>
        <p>
            Our 7-day 100% money-back guarantee allows you to buy with confidence. If you’re not satisfied with your
            purchase,
            return it and we’ll help you find a work you love.
        </p>
        <div class="about-us__review review">
            <h4 class="review__subheader">We would be very happy if you leave a review about our store</h4>
            <div class="review__form">
                <app-form [component]="aboutUs"></app-form>
            </div>
        </div>
    </div>
</div>