<div class="post" *ngIf="(post$ | async) as post">
  <img class="post__image" (click)="goToPost(post.id, post.category)" src={{post.image[0]}} alt="post image">
  <p class="post__header" (click)="goToPost(post.id, post.category)">{{post.header}}</p>
  <div class="post__details">
    <img class="post__avatar" src="assets/user.svg" alt="avatar icon">
    <span class="post__author post__author_post">{{post.author}}</span>
    <span class="post__date post__date_post">{{post.date | date:'dd.MM.yyyy'}}</span>
  </div>
  <div class="post__tags">
    <a class="post__tag">{{categoryName$ | async}}</a>
  </div>
</div>

<div *ngIf="(posts$ | async) as posts">
  <div class="post" *ngFor=" let post of posts">
    <img class="post__image" (click)="goToPost(post.id, post.category)" src={{post.image[0]}} alt="post image">
    <p class="post__header" (click)="goToPost(post.id, post.category)">{{post.header}}</p>
    <div class="post__details">
      <img class="post__avatar" src="assets/user.svg" alt="avatar icon">
      <span class="post__author post__author_post">{{post.author}}</span>
      <span class="post__date post__date_post">{{post.date | date:'dd.MM.yyyy'}}</span>
    </div>
    <div class="post__tags">
      <a class="post__tag">{{categoryName$ | async}}</a>
    </div>
  </div>
</div>