<span>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium repudiandae voluptatum laboriosam vitae ipsa
    ducimus, assumenda alias deserunt recusandae non eos, asperiores nulla nostrum sequi vero quod error reprehenderit
    tempore eveniet molestias voluptate rem similique in rerum. Eveniet, nulla deleniti est doloremque nesciunt iste
    perferendis, eligendi quam qui velit reprehenderit sed, dolores cupiditate quis voluptatem quasi temporibus
    excepturi earum obcaecati tempore eos sit minima? Omnis molestiae nisi sequi. Sunt deserunt doloremque suscipit quo
    laudantium eos, placeat fuga repellendus architecto possimus reiciendis id aliquid corrupti quia libero natus culpa
    hic illo enim maiores veritatis rem quos! Reprehenderit sit illo fugit deserunt a necessitatibus, officiis laborum
    natus sapiente soluta cum aut ducimus ipsam repudiandae veritatis tenetur delectus! Voluptates autem magnam
    provident aliquid a ipsa impedit iste accusantium hic fuga molestias nesciunt officiis aliquam ipsum culpa, amet
    obcaecati error expedita quis veritatis cupiditate. Quod nostrum id cupiditate, accusantium excepturi in tempore
    sapiente explicabo aspernatur. Odio dolor voluptates officia deserunt nisi similique tenetur exercitationem vitae
    eos incidunt quidem impedit ipsam praesentium ea, dolores iste. Consequatur, saepe possimus voluptatem rerum quod
    beatae ullam ex omnis quasi sint! Tempora et harum magnam eaque libero iste inventore, error mollitia incidunt
    blanditiis qui dicta aperiam pariatur sapiente aliquam!
</span>
<!-- <div class="question-container" *ngFor="let question of questions$ | async; index as i ">
    <div class="question-container__question question">
        <p class="question__name">Name: {{question.name}}</p>
        <p class="question__comment">Comennt: {{question.comments}}</p>
    </div>
    <div class="question-container__form">
        <app-form></app-form>
    </div>
</div> -->