<div class="post" *ngIf="(post$ | async) as post">
    <img class="post__image" src={{post.image[0]}} alt="post image">
    <p class="post__header">{{post.header}}</p>
    <div class="post__details">
        <span class="post__detail">Author: 
            <span class="post__detail_value">{{post.author}}</span>
        </span>
        <span class="post__detail">Category: 
            <span class="post__detail_value">{{categoryName$ | async}}</span>
        </span>
        <span class="post__detail">Date: 
            <span class="post__detail_value">{{post.date | date:'dd.MM.yyyy'}}</span>
        </span>
    </div>
</div>
